            <ul class="list-unstyled">
              <li>
		<a href="http://blog.echen.me/">
		Edwin Chen
                </a>
              </li>
	      <li>
		<a href="http://tullo.ch/">
			Andrew Tulloch
		</a>
	      </li>
	      <br/>
	      My friends:
	      <li>
		<a href="http://mingxinglai.com/">
			labor
		</a>
	      </li>
	      <li>
		<a href="http://www.yebangyu.org/">
			yebangyu
		</a>
	      </li>
		  	      <li>
		<a href="http://blog.csdn.net/hero_fantao">
			dylan fan
		</a>
	      </li>
            </ul>
