          <ul class="nav navbar-nav">
	    <!--
            <li>
              <a href="/categories.html">
		categories
              </a>
            </li>
	    -->
            <li>
              <a href="/archives.html">
		Archives
              </a>
            </li>
            <li>
              <a href="/tags.html">
		Tags
              </a>
            </li>
            <li>
              <a href="/about.html">
		About
              </a>
            </li>
            <li>
              <a href="/plan.html">
		.
              </a>
            </li>
          </ul>
